/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;

}
/******************************************
/* LAYOUT
/*******************************************/
body{
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5d13c5ca-10aa-4e58-be95-765f51edd200/d53bfm7-43b23e83-b808-4c06-8713-1a45de873cfd.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVkMTNjNWNhLTEwYWEtNGU1OC1iZTk1LTc2NWY1MWVkZDIwMFwvZDUzYmZtNy00M2IyM2U4My1iODA4LTRjMDYtODcxMy0xYTQ1ZGU4NzNjZmQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.UWcbW37jaJl88gUHhlMTeqep6PggKwz4foOQr1EyySg);
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: top center;
  font-size: 4rem;
  font-weight: 600;
  color: yellow;
  -webkit-text-stroke: 2px black;
  font-family: 'Changa One', cursive;
  font-weight: 700;

}
.narrator{
  left: 33.333%;
  width: 33.3333%;
  text-align: center;  
  position: fixed;
  font-size: 3.5rem;
  margin-right: 2em;
  padding: .5em;
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgba(26, 26, 26, 0.911);
  color: black;
  -webkit-text-stroke: .001rem yellow;
  z-index: 5;
  }
  .narrator button{
    font-family: 'Changa One', cursive;
  }
  .openning{
    margin-top: 8em;
  }
  .win,
  .loss,
  .draw,
  .defeat,
  .victory,
  .didntLose{
    display: none;
    margin-top: 32rem;
  }
  .win,
  .loss,
  .draw{
    z-index: 5;
  }
  .defeat,
  .victory,
  .didntLose{
    z-index: 4;
  }
/* USER INTERFACE */

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 0 0 0;
  
}
main{
  text-align: center;
}
h1{
  margin-bottom: 2rem;
  font-size: 7rem;
  line-height: 6rem;
}
h2{
  margin-bottom: 2rem;
}
.format{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.form{
  color: red;
  -webkit-text-stroke: 2px black;
}
input{
  background-color: yellow;
  padding: .5em;
  font-size: 2rem;
  z-index: 3;
  width: 80%;
}
button{
  background-color: yellow;
  
}
button:active{
  background-color: rgb(255, 102, 0);
  transform: translateY(2%);
  
}
#choose{
  margin-top: 1rem;
  z-index: 3;
}

/* ARENA */

.arena{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}
.arena section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.user,
.computer{
  width: 40%;
}
.trainer,
.bot{
 width: 33.3%;
 height: auto;
 transform: translateY(-17%);
}
#points{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 
  width: 100%;
  margin-bottom: .5em;
}
#pointsR{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
 
  width: 100%;
  margin-bottom: .5em;
}
.arena .life{
  width: 15%;
  height: auto;
}
.pokename,
.poketype{
  font-size: 3rem;
}

#fight{
  /* text-align: left;
  background-color: rgba(255, 255, 0, 0);
  border: 0px;
  width: 100%;
  z-index: 4;
  font-size: 5rem;
  -webkit-text-stroke: 0px;
  font-family: 'Changa One', cursive;
  color: yellow;
  -webkit-text-stroke: 2px black;
  border-radius: 50%;
  transform: translate(-12%,0); */
  position: fixed;
      text-align: center;
      font-size: 4rem;
      width: 70%;
      left: 15%;
      bottom: 25%;
      padding: .5em;
      border: 2px solid white;
      border-radius: 10px;
      background-color: rgba(26, 26, 26, 0.945);
      color: black;
      -webkit-text-stroke: .2rem yellow;
      z-index: 5;  
}
#fight:hover{
 
  transform: translateY(-16%);
}

.hidden{
  visibility: collapse;
}
#start{
  display: none;
}


/* ============================================= 
=============additional styles==================
================================================*/

@media screen and (max-width: 1032px) {
    body{
      background-size: 200%;
    }
}

@media screen and (max-width: 773px) {
    body{
      background-size: 300%;
    }
    input{
      width: 110%;
      padding: .2em;
    }
}

@media  screen and (max-width: 759px) {
    .narrator{
      width: 50%;
      left: 25%;
    }
    #fight{
      transform: translateY(40%);
      font-size: 4rem;
    }
    #fight:hover{
      font-size: 4rem;
      transform: translateY(40%);
    }
}

@media screen and (max-width: 516px) {
      
    body{
      background-size: 400%;
    }
    #start{
      display: block;
    }
    main{
      height: 99vh;
      position: fixed;
      padding: .5em;
      border: 2px solid white;
      border-radius: 10px;
      background-color: rgba(26, 26, 26, 0.945);
      color: black;
      -webkit-text-stroke: .2rem yellow;
      z-index: 5;
    }
    h1{
      padding-top: 30%;
      font-size: 4rem;
      line-height: 4rem;
    }
    h2{
      font-size: 3rem;
    }
    .arena{
      flex-direction: column;
      height: 100vh;
      margin-top: -2rem;
    }
    .format{
      margin: -2rem 0 1rem 0;
    }
    .narrator{
      margin: 10.5em 0 0 0;
      font-size: 2.5rem;
      width: 95%;
      left: 2.5%;
      font-size: 3rem;
      -webkit-text-stroke: .2rem yellow;
    }
    .openning{
      margin-top: 6em;
    }
    #fight{
      position: fixed;
      text-align: center;
      font-size: 2rem;
      width: 70%;
      left: 15%;
      bottom: 6%;
      padding: .5em;
      border: 2px solid white;
      border-radius: 10px;
      background-color: rgba(26, 26, 26, 0.945);
      color: black;
      -webkit-text-stroke: .2rem yellow;
      z-index: 5;
    }
    .arena h2,
    .arena h3{
      font-size: 3rem;
      margin: 0;
      width: 50%;
      text-align: center;
    }
    .arena h2{
      width: 100%;
      text-align: center;
      
    }
    .arena .computer,
    .arena .user{
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
    } 
    .arena .bot,
    .arena .trainer{
      width: 100%;
    }
    input{
      width: 200%;
    }
    #choose{
      margin-top: 1rem;
      width: 200%;
    } 
    #start,
    #begin{
      font-family: 'Changa One', cursive;
      font-weight: 700;
      font-size: 2rem;
      -webkit-text-stroke: 0;
    }  
}

@media screen and (max-width: 385px) {
  body{
    background-size: 500%;
  }
}